@use '../../styles/predefined';

.my-reviews-loading-spinner {
  height: 100px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-reviews-loading-failed {
  height: 100px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-reviews {
  .review {
    background-color: predefined.$light-gray-background;
    padding: 40px;
    margin-bottom: 40px;

    .meta-information {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      .date {
        font-weight: 300;
      }
    }
  }
}