header {
  .site-title-wrapper {
    text-align: center;
    padding: 20px 0;

    .site-title {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid;
    }

    .page-title {
      margin-bottom: 16px;
    }
  }
}