@use '../styles/predefined';

header {
  background-color: predefined.$basic-green;
  color: predefined.$white-accent;

  .site-title-wrapper {
    text-align: center;
    padding: 20px 0;

    a {
      color: predefined.$white-accent;
      text-decoration: none;

      .site-title {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      }
    }

    .page-title {
      margin-bottom: 0;
    }
  }
}