@use '../../styles/predefined';


.review-modal {
  .button-container {
    padding: 0;
  }
}
.review-modal-body {
  justify-content: center;
  display: flex;

  .form-group {
    padding: 10px 0;

    .control-label {
      padding-bottom: 5px;
    }

    .field-description {
      display: none;
    }
    .hidden {
      display: none;
    }
  }
}
