@use '../../styles/predefined';

.login-page {
  .main {
    @include predefined.section-padding;
    text-align: center;

    .user-icon {
      font-size: 80px;
      margin-bottom: 20px;
    }
  }
}