@use '../../styles/predefined';

.login-page {
  .main {
    @include predefined.section-padding;
    text-align: center;

    input[type="text"],
    input[type="password"] {
      width: 100%;
      border-radius: 8px;
      padding: 6px 12px;
      margin-bottom: 8px;
    }

    .error-message {
      margin-bottom: 8px;
      color: #D8000C;
    }

    input[type="button"] {
      width: 100%;
      border-radius: 8px;
      padding: 6px 12px;
    }

    .user-icon {
      font-size: 80px;
      margin-bottom: 20px;
    }
  }
}